<body>
<form action="/recipes" method="post">
<label for="name">Name</label>
<input type="text" name="name">
<label for="name">ingredients</label>
<input type="text" name="ingredients">
<label for="name">Cook Time</label>
<input type="text" name="cook_time">
<input type="submit" name="submit">
</form>




</body>