<table>
<th>name</th>
<th>ingredients</th>
<th>cook_time</th>
<tr>
<td><%=@recipe.name%></td>
<td><%=@recipe.ingredients%></td>
<td><%=@recipe.cook_time%></td>
</tr>
</table>
<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
